{% extends 'base.html' %}
{% comment %}
Part 2 of 5
1. Sign Up - registration_form.html
2. Sign up Done - Sending Email - registration_complete.html
3. Email Sent - activation_email_subject.txt
4. Email Opened and link to activation - activation_form.html
5. Activation code complete - activation_complete.html
{% endcomment %}


{% block title %}
App User Registration
{% endblock %}

{% block header %}
Register a new user.
{% endblock header %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Register</button>
</form>
{% endblock %}