{% extends 'base.html' %}

{% block title %}
Enter new password:
{% endblock %}



{% block content %}

{% if validlink %}

<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

<form method="post">
    {% csrf_token %}
<fieldset class="module aligned">
    
    <input class="hidden" type="hidden" hidden aria-hidden=true autocomplete="username" value="{{ form.user.get_username }}">

    <div class="mb-3">
        
        <label for="id_email" class="form-label">Email:</label>
        <input type="text" class="form-control" disabled="true" value="{{ form.user.email }}" >
    </div>
    
    <div class="mb-3">
        {{ form.new_password1.errors }}
        <label for="id_new_password1" class="form-label">New password:</label>
        {{ form.new_password1 }}
    </div>
    
    <div class="mb-3">
        {{ form.new_password2.errors }}
        <label for="id_new_password2" class="form-label">Confirm password:</label>
        {{ form.new_password2 }}
    </div>
    
    <input type="submit" value="Update my password">
</fieldset>
</form>

{% else %}

<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

{% endif %}

{% endblock %}