<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock title %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <style>
    footer {
      background-color: white;
    }
  </style>
</head>

<body class="d-flex flex-column min-vh-100">
  <header>
    {% include 'menu.html' %}
  </header>

  <main class="flex-grow-1 overflow-auto mb-5">
    <div class="container">

      <div class="mt-2 mb-4">
        <h1 class="center">{% block header %}{% endblock header %}</h1>
      </div>

      {% block content %}
      {% endblock content %}

    </div>
  </main>

  <footer class="border-top mt-5 pt-5 pb-5">
    {% include 'footer.html' %}
  </footer>
</body>

</html>